{% extends 'eLearnaApp/base.html' %}
{% load static %}
{% block title %}eLearning | Testimonial Page {% endblock title %}
{% block body %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Testimonial</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Testimonial</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
                <h1 class="mb-5">Our Students Say!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3"
                        src="{% static 'eLearnaApp/img/testimonial-1.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Riya Mehta</h5>
                    <p>Freelance Graphic Designer</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">"Taking this Graphic Design course exceeded my expectations. The hands-on
                            training with Photoshop and Illustrator was invaluable. I developed a strong portfolio and
                            improved my design skills significantly. It’s the perfect course at eLearning for anyone
                            serious about a career in graphic design."</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3"
                        src="{% static 'eLearnaApp/img/testimonial-2.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Arjun Rao</h5>
                    <p>Junior Web Developer</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">"Taking the Web Design course was a game-changer for me. The practical approach
                            helped me build a solid foundation in HTML, CSS, and JavaScript. I now confidently create
                            responsive websites and have landed my first freelance project. Highly recommended for
                            aspiring web designers!"</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3"
                        src="{% static 'eLearnaApp/img/testimonial-3.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Sneha Agarwal</h5>
                    <p>Video Editor
                    </p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">"Enrolling in the Video Editing course was a fantastic decision. The course
                            offered in-depth training on editing software and techniques, which has greatly improved my
                            editing efficiency. I feel more confident in my role and have taken on more complex
                            projects. This course is excellent for aspiring video editors."</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3"
                        src="{% static 'eLearnaApp/img/testimonial-4.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Vikram Patel</h5>
                    <p>Digital Marketing Executive</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">"The Online Marketing course at eLearning provided me with a comprehensive
                            understanding of digital marketing strategies. The practical exercises in SEO and social
                            media marketing have enhanced my skills and boosted my career. It’s a must-take for anyone
                            in the marketing field. I reaaly appreciate."

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    {% endblock body%}